.passwordBox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -230px;
  padding: 0;
}

.passwordBox .ibox-content {
  background-color: #3a455a;
  border-color: #364052;
  color: #676a6c;
}

.passwordBox h2 {
  color: #e2e2e2;
}

.passwordBox p {
  color: #9ea6b9;
}

.passwordBox hr {
  border-color: #364052;
}

.passwordBox .copyright {
  color: #9ea6b9;
}

@media (max-width: 768px) {
  body {
    background-color: #3e495f !important;
  }
}
