<div class="wrapper wrapper-content animated fadeInRight dashboard-view">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title text-left p-sm">
            <h2><span class="text-navy m-l-xs">Dashboard</span></h2>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-4">
              <div class="ibox">
                <div class="ibox-content text-center bg-info">
                  <div class="m-b-xs">
                    <i class="fa fa-home fa-4x"></i>
                    <h2 class="m-sm">Companies</h2>
                    <a ng-href="{{linkForCompaniesCSV}}">EXPORT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="ibox">
                <div class="ibox-content text-center bg-warning">
                  <div class="m-b-xs">
                    <i class="fa fa-user fa-4x"></i>
                    <h2 class="m-sm">Workers</h2>
                    <a ng-href="{{linkForWorkersCSV}}">EXPORT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="ibox">
                <div class="ibox-content text-center bg-primary">
                  <div class="m-b-xs">
                    <i class="fa fa-gavel fa-4x"></i>
                    <h2 class="m-sm">Job Postings</h2>
                    <a ng-href="{{linkForJobsCSV}}">EXPORT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
